body{
    background-color: white;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}

#button1{
    position:absolute;
    width: 150px;
    height: 150px;
    left:700px;
    top: 360px;
    border-radius: 8px;
    border-color: #596790;
    background-color: #8292c4;
    cursor: pointer;
}

#button2{
    position:absolute;
    width: 150px;
    height: 150px;
    left:850px;
    top: 210px;
    border-radius: 8px;
    border-color: #a96f43;
    background-color: #dda77e;
    cursor: pointer;
}

#button3{
    position:absolute;
    width: 150px;
    height: 150px;
    left:550px;
    top: 210px;
    border-radius: 8px;
    border-color: #436c45;
    background-color: #96ec99;
    cursor: pointer;
}

#button5{
    position:absolute;
    width: 150px;
    height: 150px;
    left:700px;
    top: 210px;
    border-radius: 8px;
    border-color: #5f4563;
    background-color: #e9a8f5;
    cursor: pointer;
}

#button6{
    position:absolute;
    width: 150px;
    height: 150px;
    left:700px;
    top: 60px;
    border-radius: 8px;
    border-color: #6c693b;
    background-color: #f7ef8c;
    cursor: pointer;
}


button:hover{
    opacity: 70%;
}