html, body {
  background-color: #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
h1 {
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 20px;
  text-align: center;
  }
  
.drumpad {
  display: right;
  align-items: center;
  position: relative;
  margin: auto;
  text-align: center;
  cursor: pointer;
}

#pad1, #pad2, #pad3 { 
  border: 2px solid rgb(15, 61, 129);
  color: #3385FF;
  background-color: #3385FF;
  width: 150px;
  height: 150px; 
  margin: 5px 5px;
  display: inline-block;
}
  
#pad4, #pad5, #pad6, #pad7 { 
  border: 2px solid rgb(172, 40, 73);
  color: #FF33F8;
  background-color: #FF33F8;
  width: 150px;
  height: 150px;
  margin: 5px 5px;
  display: inline-block;
}
  
#pad8, #pad9{ 
  border: 2px solid rgb(218, 165, 32); 
  color: #FFC433;
  background-color: #FFC433;
  width: 150px;
  height: 150px;
  margin: 5px 5px;
  display: inline-block;
}

#playbutton{ 
  border: 2px solid #ffffff; 
  color: #ffffff;
  width: 150px;
  height: 150px;
  margin: 5px 5px;
  display: inline-block;
}